@import url('https://fonts.googleapis.com/css?family=Krona+One');

.landingContainer .backgroundImage{
    background-color: #9A8979;
    width: 100%; /* Adjust as needed for responsiveness */
    height: 100vh;
    margin: auto;
    padding: 20px;
    text-align: center;
    
    /* Normal border settings */
    border-width: 40px;
    border-style: solid;

    /* Apply image border */
    border-image: url('images/background.png') 30 round; /* Slicing the image */

    /* Optional: Ensure the container is responsive */
    max-width: 100%;
    box-sizing: border-box;
    position: absolute;
    z-index: 0;
    
}

.landingContainer .button-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingContainer .button {
    width: 60%;
    max-width: 60%;
    min-width: max-content;
    min-height: max-content;
    height: 6vh;
    border-radius: 51px;
    border-width: 1px;
    font-family: "Krona One";
    font-size: 16px;
    padding: 10px;
    background-color: #B4C4A0;
    box-shadow: 3px 3px 5px #968f89;

    
}

.landingContainer .button:hover {
    box-shadow: 5px 8px 5px #867f79;
    cursor: pointer;
}

.landingContainer .button-text {
    height: fit-content;
    width: fit-content;
}

.landingContainer .button-prop {
    height: fit-content;
    text-decoration: none;
    color: black;
}


.landingContainer .text {
    font-family: "Krona One";
    font-size: 16px;
    margin: 30px;
}

.landingContainer .right-side {
    
    display: flex;
    justify-content: center;
    align-items: center;

    float: right;
    width: 35%;
    height: 100vh;
    background-image: url("./images/paper-texture.png");
    background-repeat: repeat-y;
    background-size: auto;
    box-shadow: -8px 8px 10px 5px #332c27;
    position: relative;
    z-index: 1;
    
}

.landingContainer .right-side .spiral-container {
    
    width: min-content;
    height: 100vh;
    background-image: url("./images/spiral-bind-short.png");
    background-repeat: repeat-y;
    position: fixed;
    right: 35%;
    top: 0%;
    z-index: 2;
    transform: translateX(50%);

}

.landingContainer .left-side {

    width: 65%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.landingContainer .logo-container {
    width: 70%;
    height: 70vh;
    background: url(images/logo-new.png) center;
    filter: drop-shadow(0px 4px 4px #00000040);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 4;
}

.landingContainer #spiral {
    user-select: none;
    -webkit-user-drag: none;
    background-repeat: repeat-y;
    
}