@import url('https://fonts.googleapis.com/css?family=Krona+One');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');




.miniJournalContainer .journal-container {
    margin-top: 10px;
    margin-left: 100px;
}

.miniJournalContainer .journal-item-container {
    float: inline-start;
    width: 310px;
    height: 360px;
    background-color: #9A8979;
    border-radius: 24px;
    margin-right: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    box-shadow: 8px 8px 4px  #00000046;
    position: relative;
    padding: 0;
}

.miniJournalContainer .journal-name-container {
    width: 200px;
    height: 50px;
    margin-top: 80px;
    margin-left: 20px;
    
}

.miniJournalContainer .journal-name {
    width: 200px;
    background-color: #9A8979;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    font-size: 30px;
}

.miniJournalContainer .journal-name:focus {
    border: none;
    border-bottom: 2px solid white;
    box-shadow: none;
}

.miniJournalContainer .journal-info-container {
    width: 200px;
    height: 50px;
    margin-top: 80px;
    margin-left: 20px;
}

.miniJournalContainer .journal-info {
    width: 200px;
    background-color: #9A8979;
    color: rgb(0, 0, 0);
    border: none;
    border-bottom: 2px solid rgb(239, 180, 0);
    outline: none;
    font-size: 30px;
}

.miniJournalContainer input[type='text'] {
    font-family: 'Londrina Solid';
    font-size: 34px;
    text-align: center;
}

.miniJournalContainer .spiral-container {
    width: fit-content; 
    position: absolute;
    margin-top: 5px;
    left: -50px;
    z-index: 2;
}

.miniJournalContainer .spiral-container img {
    width: 100%;
    height: auto;
    position: relative;
  }

.miniJournalContainer #spiral {
    -webkit-user-drag: none;
    user-select: none;
}

.miniJournalContainer .button-container {
    width: 240px;
    height: 50px;
    display: flex;
    margin-top: 10px;
    margin-left: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.miniJournalContainer .button {
    width: 96px;
    height: 36px;
    border-radius: 24px;
    border-width: 0.5px;
    border-color: white;
    font-family: "Krona One";
    font-size: 16px;
    margin: 10px;
    background-color: #ffffff;
    box-shadow: 3px 3px 5px #968f89;
    
}

.miniJournalContainer .button:hover {
    box-shadow: 5px 8px 5px #867f79;
    cursor: pointer;
}

.miniJournalContainer .button-text {
    height: fit-content;
    width: fit-content;
}

.miniJournalContainer .button-prop {
    height: fit-content;
    text-decoration: none;
    color: black;
}

.miniJournalContainer .delete-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
}

.miniJournalContainer .delete-button:hover {
    color: #ef7070;
}

.select-shape {
    width: 200px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

/* Style for the option elements */
.select-shape option {
    padding: 10px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
}